<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th></html>
        <!-- display the type -->
        <th>Type</th>
    </tr>

    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.name}"></td>
        <td th:text="${cheese.description}"></td>
        <!-- first access the type property of my cheese and then access the name property
        using the getter on the cheese type that is associated with the given cheese -->
        <td th:text="${cheese.type.name}"></td>
    </tr>

</table>

</body>
</html>